* {
    text-decoration: none !important;
}

.pt-navbar {
    padding-top: 56px;
}

.pt-75 {
    padding-top: 75px;
}

.p-t-50 {
    padding-top: 50px;
}

.h-200 {
    height: 200px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.f-40 {
    font-size: 40px;
}

.text-center-vertical-200 {
    height: 200px;
    line-height: 200px;
}

.navbar.transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.3) !important;
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)))  !important;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%)  !important;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%)  !important;
}

/* .nav-item.active .text-dark {
    color: rgb(100, 25, 116) !important;
} */

.bg-main-color {
    background-color: #2A1A3C;
}

@media (max-width: 768px) {
    .navbar-dropdown-bg {
        background-color: rgba(0, 0, 0, 0.75);
        /* background-color: #362f5450; */
    }
}

.thumbnail {
    margin-bottom: 30px;
}

img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.gallery-container {
    padding-top: 60px;
}

.fancybox-nav {
    width: 15% !important;
    height: 40% !important;
    top: 30% !important;
}

.d-table {
    display: table;
}

.d-table-cell {
    display: table-cell;
}

@font-face {
    font-family: RalewayRegular;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: RalewayBold;
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: SofiaProLight;
    src: url(../fonts/SofiaPro-Light.otf);
}

.page-title {
    font-family: 'RalewayRegular';
}

.page-title-bold {
    font-family: 'RalewayBold';
}

.page-content {
    font-family: 'SofiaProLight';
}